body {
	background-image: url("../images/CrystalBackground.jpeg");
	width:100%
	height:100%;

.crystalOne
	width:90px;
	height:75px;

.crystalTwo
	width:90px;
	height:75px;

.crystalThree
	width:90px;
	height:75px;

.crystalFour
	width:90px;
	height:75px;

}



 